
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/login.js"></script>

<form>
    <img src="~/images/vu_transparent_logo.png" width="100%"/>

    <div class="mb-3">
        <input type="text" class="form-control" id="sid" placeholder="Student/Staff ID">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="pass" placeholder="Password">
    </div>

    <div class="mb-3">
        <center>
            <input type="checkbox" class="form-check-input" id="remember-me"> &nbsp;
            <label class="form-check-label" for="remember-me">Remember me</label>
        </center>
    </div>

    <button type="submit" onclick="location.href='@Url.Action("Login","Student")'">Submit class="btn btn-primary" id="btn-submit">Login</button>

    <p id="login-message"></p>     
</form>