
@{
    ViewData["Title"] = "MyRequests";
}
<link rel="stylesheet" href="~/css/student.css"/>
<style>
   #myRequest{
        background-color:mediumpurple;
        border-radius: 25px;
        
    }
    #student{
    background-color:white;
}

</style>

<div id="requested-page">
        <div class="content-element">
            <div class="element-image"><img src="~/images/reference_1.jpg" alt="requested resource image" height="100%"/></div>
            <div class="element-text">
                <p class="element-name">ASP.NET Book</p>
                <p class="element-description">The complete reference to ASP.NET...</p>
                <p class="element-request-msg">Requested</p>
            </div>
        </div>

        <div class="content-element">
            <div class="element-image"><img src="~/images/eBusiness.jpg" alt="requested resource image" height="100%" /></div>
            <div class="element-text">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">intel i5 - 10th gen - 12GB RAM...</p>
                <p class="element-request-msg" style="background-color: green;">Granted</p>
            </div>
        </div>
</div>