
@{
    ViewData["Title"] = "MyRequests";
}
<link rel="stylesheet" href="~/css/student_staff.css"/>
<style>
    #myRequest{
        background-color: lightskyblue;
        border-radius: 25px;
    }
</style>

<div id="content">
    <div class="tab-content container">
        <div class="content-element row">
            <div class="element-image col"><img src="~/images/reference_1.jpg" alt="requested resource image" height="100%" /></div>
            <div class="element-text col">
                <p class="element-name">ASP.NET Book</p>
                <p class="element-description">The complete reference to ASP.NET...</p>
                <p class="element-request-msg">Requested</p>
            </div>
        </div>

        <div class="content-element row">
            <div class="element-image col"><img src="~/images/eBusiness.jpg" alt="requested resource image" height="100%" /></div>
            <div class="element-text col">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">intel i5 - 10th gen - 12GB RAM...</p>
                <p class="element-request-msg" style="background-color: green;">Granted</p>
            </div>
        </div>
    </div>
</div>